<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<title>Portafolio.la</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/normalize.css">
	

</head>
<body>
	
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#Perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>

		<figure class="Header-imageContainer">
			<img src="../static/images/avatar.jpg" alt="Imagen Personal" class="Header-image"/>
			<figcaption class="Header-imageDescription">
				<a class="Header-link" href="https://twitter.com/IsaacCisnerosCa" target="_blank">@IsaacCisnerosCa</a>
			</figcaption>
			<p class="Header-name">Isaac Cisneros Carro</p>
		</figure>
	</header>

	<section id="perfil" class="Profile">
		<div class="u-containerDefault">
			<h2 class="Profile-title u-title">Mi perfil</h2>
			<p class="Profile-description"><span class="Profile-span">Hola!!!</span> puedes visitarme en mis redes sociales</p>
			<a class="Profile-link icon-s-twitter" href="https://twitter.com/IsaacCisnerosCa" target="_blank"></a>
			<a class="Profile-link icon-s-facebook" href="https://facebook.com/isaac.cisneros.186" target="_blank"></a>
			<a class="Profile-link icon-s-github" href="https://github.com/IsaacEi" target="_blank"></a>
		</div>	
	</section>

	<section id="trabajo" class="Work">
		<div class="u-containerDefault">
			<h2 class="Work-title u-title">Mi Trabajo</h2>
		</div>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="../static/images/proyecto.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>

	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3  class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>	
		</div>
		
		<form action="" class="Footer-form">
			<input class="Footer-input" type="text" placeholder ="Nombre">
			<input class="Footer-input" type="email" placeholder="Email">
			<textarea class="Footer-textarea" placeholder = "Mensaje"></textarea>
			<button class="Footer-button" type="submit"> Enviar </button>
		</form>
	</footer>
</body>
</html>