<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portafolio.la</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#Perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class ="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>

		<figure class="Header-imageContainer">
			<img src="avatar.jpg" alt="Imagen Personal" class="Header-image"/>
			<figcaption class="Header-imageDescription">
				<a class="Header-link" href="https://twitter.com/IsaacCisnerosCa" target="_blank">@IsaacCisnerosCa</a>
			</figcaption>
			<p class="Header-name">Isaac Cianeros Carro</p>
		</figure>
	</header>

	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi perfil</h2>
		<p class="Profile-description">Hola! si llegaste hasta aqui puedes ver mi portafolio y contactame</p>
		<a class="Profile-link" href="https://twitter.com/IsaacCisnerosCa" target="_blank">@IsaacCisnerosCa</a>
		<a class="Profile-link" href="https://facebook.com/isaac.cisneros.186" target="_blank">Isaac Cisneros</a>
		<a class="Profile-link" href="https://github.com/IsaacEi" target="_blank">IsaacEi</a>
	</section>

	<section id="trabajo" clss="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class"Work-imageContainer">
				<img class="Word-image" src="avatar.jpg" alt="Es la descripcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>

	<footer id="contacto" class="Footer">
		<h3  class="Footer-title">Contacto</h3>
		<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
		<form action="" class="Footer-form">
			<input class="Footer-input" type="text" placeholder ="Nombre">
			<input class="Footer-input" type="email" placeholder="Email">
			<textarea class="Footer-textArea" name="" id="" cols="30" rows="10 " placeholder = "Mensaje"></textarea>
			<button class="Footer-button" type="submit"> Enviar </button>
		</form>
	</footer>
</body>
</html>